<p>The RESTFul API for <a href="https://bandcamp.com" rel="noreferrer" target="_blank" title="Bandcamp">Bandcamp</a> is free to use, but
all <a href="/methods" data-route>requests</a> should be authenticated with an API key, sent as <code>X-Api-Key</code> header which each request.
  Submit the form below to get your API key or get it from this <a href="/auth" title="Get API key" data-route>page</a>.</p>