<p>And here another one, utilizing <a href="/methods/search" data-route title="Search">search</a> method of
  the API, also built on top of <a href="http://vuejs.org/" rel="noreferrer" target="_blank" title="Vue">Vue</a>
  and <a rel="noreferrer" href="https://vuetifyjs.com/" target="_blank" title="Vuetify">Vuetify</a>. Type your
  search query and hit enter. Then you can use your browser's console to see what data is returned by each item
  after clicking it.</p>