<p>Below is a demo component, utilizing all of the API <a href="/methods" data-route title="Methods">methods</a>, built on top of
  <a href="http://vuejs.org/" rel="noreferrer" target="_blank" title="Vue">Vue</a> and <a rel="noreferrer" href="https://vuetifyjs.com/" target="_blank" title="Vuetify">Vuetify</a>.</p>