<p>Thank you for stopping by! The RESTFul API for <a href="https://bandcamp.com" title="Bandcamp" rel="noreferrer" target="_blank">Bandcamp</a> is free to
  use, but if you like it and use it in your own projects, you might consider
  a <a href="{{payPalDonateLink}}" rel="noreferrer" title="Donate via PayPal" target="_blank">donation via PayPal</a> to support my work.</p>
<p>Rock'n'roll!</p>