<p>All of the available API methods should be requested via <code>POST</code> and supplied
  with <a href="/auth" title="Get API key" data-route>API key</a>
  and the required request body.</p>
<p>Use the menu on the left to check each method's endpoint and parameters.</p>