<div>The <code>/search</code> method returns search results by category (artists, labels, tracks, albums and fans)
  with all respective data (slugs, cover art, photo, genres, etc), pages count and approximate results length.</div>