<div>The <code>/album</code> method returns album title, artist and album slugs, Bandcamp URL, player embed code, cover art, track listing and
  length, artist photo, location, about and credits.</div>