<p>The RESTFul API for <a href="https://bandcamp.com" title="Bandcamp" rel="noreferrer" target="_blank">Bandcamp</a> is a third-party API
  developed by <a rel="noreferrer" href="{{weMakeSitesNet}}" target="_blank" title="Martin Ivanov">Martin Ivanov</a> who suddenly
  realized that he wants to de able to showcase his <a rel="noreferrer" href="https://theophagyst.bandcamp.com/" title="Theophagÿst" target="_blank">musical side</a>
  in his own app rather than on <a rel="noreferrer" href="https://bandcamp.com" title="Bandcamp" target="_blank">Bandcamp</a> only and
  eventually found out that such API was missing.</p>
<p>Feel free to check the currently available <a href="/methods" data-route title="API methods">methods</a>, browse through the
  <a href="/demos" data-route title="Demos">demos</a> and eventually create your
  <a href="/auth" data-route title="Get your free API key">API key</a> and start using it.</p>